* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav a {
color: #fff;
margin-right: 15px;
text-decoration: none;
}


nav a:hover {
text-decoration: underline;
}


main {
padding: 40px;
}


.hero {
background: #fff;
padding: 30px;
border-radius: 5px;
}


.content {
background: #fff;
padding: 30px;
border-radius: 5px;
}


.contact-form {
background: #fff;
max-width: 400px;
margin: auto;
padding: 30px;
border-radius: 5px;
}


.contact-form label {
display: block;
margin-top: 15px;
}


.contact-form input,
.contact-form textarea {
width: 100%;
padding: 10px;
margin-top: 5px;
}


.contact-form button {
margin-top: 20px;
padding: 10px;
width: 100%;
background: #222;
color: #fff;
border: none;
cursor: pointer;
}


.contact-form button:hover {
background: #444;
}


footer {
text-align: center;
padding: 15px;
background: #222;
color: #fff;
position: fixed;
bottom: 0;
width: 100%;
}